{% load static %}

<!-- footer -->

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>The Daily Outlook</strong> by
            <a href="https://github.com/MarcinZ20">Marcin</a>
            &
            <a href="https://github.com/Zubbek">Michał</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
    </div>
    <div class="content has-text-centered">
        <span class="icon is-large">
            <i class="fa fa-github"></i>
        </span>
        <span class="icon is-large">
            <i class="fa fa-facebook"></i>
        </span>
        <span class="icon is-large">
            <i class="fa fa-instagram"></i>
        </span>
        <span class="icon is-large">
            <i class="fa fa-google"></i>
        </span>
    </div>
</footer>